<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Unidade Medido</title>
</head>
<body>
    <h1>Cadastro de Unidade de Medida</h1>
    <form action="index.php" method="POST">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id" readonly value="{id}">
        <label for="un">Un:</label>
        <input type="text" name="un" id="un" value="{un}">
        <button type='submit' name='acao' value='salvar'>Salvar</button>
        <button type='submit' name='acao' value='excluir'>Excluir</button>
        <button type='reset'>Cancelar</button>
    </form>
</body>
</html>